<html>
<head>
  <title>Login</title>
</head>
<body>
<h1>LOGIN</h1>
<form method="POST" action="/login">
    {{ form.csrf_token }}
    {{ form.username.label }} {{ form.username(size=20) }}
    {{ form.password.label }} {{ form.password(size=20) }}
     {{ form.submit }}
    <br />
    {{ form.remember.label }} {{ form.remember }}
</form>
<p> If you do not have an account, <a href="/register">please register here.</a> </p>
{% with messages = get_flashed_messages(category_filter=["noUser"]) %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
</body>
</html>
