<html>
<head>
  <title>Register</title>
</head>
<body>
<h1>REGISTER</h1>
<form method="POST" action="/register" >
    {{ form.csrf_token }}
    {{ form.username.label }} {{ form.username(size=20) }}
    {{ form.password.label }} {{ form.password(size=20) }}
     {{ form.submit }}
</form>
<p> If you already have an account, <a href="/login">please login here.</a> </p>
</body>
</html>
